# env / secrets
.env

# Rust
backend/target/

# Node
node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo
commerce/server/dist/
commerce/server/src/gql/
commerce/storefront/.next/
commerce/storefront/tsconfig.tsbuildinfo

# misc
.DS_Store
*.log
